<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="{{ description }}">
		<meta name="keywords" content="{{ keywords }}">
		<meta name="author" content="{{ author }}">
		<meta name="viewport" content="width=device-width, user-scalable=no">

		<meta name="theme-color" content="#000000">
		<meta name="msapplication-navbutton-color" content="#000000">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<title>{{ title }}</title>

		<link rel="icon" type="image/png" href="assets/images/favicon.png">
		<link rel="stylesheet" type="text/css" href="css/style.css">

		<meta property="og:title" content="{{ title }}"/>
		<meta property="og:site_name" content="{{ title }}"/>
		<meta property="og:description" content="{{ description }}"/>
		<meta property="og:type" content="website"/>
		<meta property="og:url" content="{{ url }}"/>
		<meta property="og:image" content="{{ url }}/assets/images/og-image.jpg"/>
		<meta property="fb:admins" content="{{ fbAdmin }}"/>

		{{#if dev}}
		<script src="../scripts/vendor/requirejs/require.js" data-main="../scripts/main"></script>
		{{else}}
		<script src="js/main.min.js"></script>
		{{/if}}

		{{! Google Analytics }}
		{{#unless dev}}
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', '{{ tracking }}']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		{{/unless}}
	</head>

	<body{{#if dev}} class="dev"{{/if}}></body>
</html>
